<h1>Grape &amp; Roar hosted inside Rails 4</h1>

<h2>Routes</h2>

<ul>
  <li><a href="/users">Users</a></li>
  <li><a href="/organisations">Organisations</a></li>
</ul>

<a href="https://github.com/nickcharlton/grape-roar-demo">Fork it on GitHub</a>
